.main {
  padding: 1rem 2rem;
}

.title {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 400;

  border-radius: 15px;
  animation: 1s ease-in opacity;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
