header {
  padding: 0.75rem 1rem;
}

header button {
  display: inline-block;
}

header button h2 {
  margin-left: 0.5rem;
}

.main {
  padding: 1rem 2rem;
}

.main > h1 {
  font-size: 2rem;
}

.project_form {
  min-width: 35rem;
}

.row {
  display: flex;
}

.row_between {
  display: flex;
  justify-content: space-between;
}

.row > div {
  flex: 1;
  height: fit-content;
}

.row > div:first-of-type {
  min-width: 60%;
  margin-right: 0.5rem;
}

.mediaRow {
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;

  max-width: 100%;
  min-height: 5rem;
  padding: 0.25rem;

  overflow-x: auto;
}

.description {
  flex: 1;
  height: calc(100% - 25%);
}

.icon_button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;

  transition: 200ms;
}

.icon_button:hover {
  color: var(--focus);
}

.project_form textarea {
  min-height: 6.5rem;
}

.switch {
  opacity: 0%;
  width: 0px;
  height: 0px;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;

  background-color: black;
  width: 50px;
  height: 25px;
  border-radius: 15px;

  margin-top: 0.5rem;
  transition: 300ms;
}

.switch + label:after {
  --margin: 6px;
  --size: calc(25px - var(--margin));

  content: "";
  position: absolute;
  top: calc(50%);
  left: calc(var(--margin) / 2);

  transform: translateY(calc(-50%));

  width: var(--size);
  height: var(--size);
  background-color: white;
  border-radius: 50%;

  transition: 300ms;
}

.switch:focus + label {
  outline: 2px solid black;
}

.switch:checked + label {
  background-color: var(--focus);
}

.switch:checked + label:after {
  left: calc(var(--size) + var(--margin) * 1.5);
}

.type_progress_row {
  display: flex;
  margin-top: 0px;
}

.type_progress_row > div:first-of-type {
  margin-right: 0.5rem;
  flex: 1;
}
