.button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
  color: white;
  border-radius: 8px;

  font-weight: 400;
  font-size: 1.25rem;

  border: 0;
  padding: 0.25rem 0.75rem;
  margin-top: 1rem;

  transition: 200ms;
}

.button:hover {
  transform: scale(1.02);
  filter: brightness(0.9);
}

.button:focus {
  outline: 2px solid var(--focus);
}

.button:active {
  transform: scale(1);
}

.contrast {
  background-color: var(--main);
  color: black;
  box-shadow: 2px 1px 5px var(--shadow-main);
}
