.button {
  width: 100%;

  display: flex;
  justify-content: center;

  background-color: black;
  color: white;
  border-radius: 8px;

  font-weight: 400;
  font-size: 1.25rem;

  border: 0;
  padding: 0.4rem;
  margin-top: 1rem;

  transition: 200ms;
}

.button:hover {
  transform: scale(1.05);
}

.button:focus {
  border: 2px solid var(--main);
}

.button:active {
  transform: scale(1);
}
