.media_container {
  flex: 0 !important;
  min-width: auto !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  margin-right: 0.5rem;
}

.image_button {
  width: 4.75rem;
  aspect-ratio: 1/1;

  position: relative;
  border: none;
  border-radius: 10px;
  overflow: hidden;

  transition: 200ms;
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_button:focus {
  outline: black solid 1.5px;
}

.image_button:hover {
  filter: brightness(0.75);
}

.image_button img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check_background {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(41, 41, 41, 0.301);
}

.check {
  color: rgb(255, 255, 255);

  width: 2rem;
  height: 2rem;
}

.remove_button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;

  display: flex;
  align-items: center;

  background-color: transparent;
  border: none;
  color: white;
  transition: 200ms;
}

.remove_button:hover {
  color: var(--delete);
}
