.section {
  border-radius: 15px;
  box-shadow: 0px 10px 40px var(--shadow-main);

  padding: 1rem;
  min-width: 27.5rem;
}

.title {
  font-weight: 400;
  font-size: 1.5rem;
}

.form {
  padding-top: 0.25rem;
}

.form > p:first-child {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.form > .row > div:first-child {
  margin-right: 0.5rem;
  min-width: 60%;
}

.form > .row:first-of-type {
  min-height: 5.5rem;
  width: 100%;
  flex-wrap: nowrap;
  align-items: initial;
  overflow-x: auto;
  padding: 0.25rem 0.5rem 0.5rem 0.1rem;
}

.form > .row:last-child {
  align-items: flex-start;
}

.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.row > div {
  flex: 1;
}

.row > div:first-child {
  margin-right: 0.5rem;
}

.row_center {
  display: flex;
  align-items: center;
}

input[type="file"] {
  width: 0px;
  height: 0px;
  position: absolute !important;
  visibility: hidden;
}

.browse {
  display: flex;

  width: fit-content;
  margin: 0;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;

  color: white;
  background-color: var(--secondary);
  border-radius: 8px;
  transition: 200ms;
}

.browse:hover {
  transform: scale(1.05);
}

.browse:focus-within {
  outline: var(--main) thick;
}

#resume_title + .row {
  align-items: flex-start;
}
