.section {
  border-radius: 15px;
  box-shadow: 0px 10px 40px var(--shadow-main);

  padding: 1rem;
  margin-top: 3rem;

  font-size: 2rem;
}

.title {
  font-weight: 400;
  font-size: 1.5rem;
}

.save_create_container {
  display: flex;
}

.save_create_container > button {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.projects_container {
  margin-top: 0.75rem;
  font-size: 0.8rem;
}
