.section {
  border-radius: 15px;
  box-shadow: 0px 10px 40px var(--shadow-main);

  padding: 1rem;
  margin-top: 3rem;
}

.row {
  display: flex;
}

.title {
  font-weight: 400;
  font-size: 1.5rem;
}

.save_create_container {
  display: flex;
}

.save_create_container > button {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.projects_container {
  margin-top: 0.75rem;
  font-size: 0.8rem;
}

.project_draggable {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin-top: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--main);
  border-radius: 10px;

  position: relative;
}

.project_draggable > div:first-child {
  max-width: 50%;
  max-height: 100%;

  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

div:first-child h1 {
  font-weight: 400;
}

div:first-child p {
  line-height: 1rem;
}

.drag {
  position: absolute;
  left: 0.5rem;
  top: 15%;

  width: 3px;
  height: 70%;

  border-radius: 20px;
  background-color: black;
}

.icon_button {
  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;
  transition: 200ms;
  color: black;
}

.icon_button:hover {
  color: rgb(255, 165, 92);
}

.row a {
  margin-right: 0.5rem;
}
