.loading {
  border-radius: 50%;
  border: 0.2rem solid rgb(109, 109, 109);
  border-top: 0.2rem solid white;

  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
